.logo{
  background: url("https://oc.kg/templates/mobile/img/logooc_autumn.png?1635162901") no-repeat;
  text-align: center;
  width: 100px;
  height: 100px;
  display: block;
  text-indent: -9999px;
}
